<div class="container-fluid">
  <div class="row footer">  
    <div class="col-lg-2 col-xl-2">
      <div class = "footer-left"> A Proud Product of <span><a href = "https://bottega.tech/", class="footer-left-link"> Bottega </a> </span>
      </div>
    </div>
    <div class="col-lg-8 col-xl-8">
    </div>
      <div class ="col-lg-2 col-xl-2">
        <div>
          <button type="button" class = "footer-button"> <a href="https://rails.devcamp.com/referrals/new"> Refer friends, Get up to $500</a></button>
        </div>
      </div>
  </div>
</div>